<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header">
      <p>
        <a href="/">Home</a> | 
        <a href="/login">Log In</a>
      </p>
      <p>
        <a href="/">Home</a> | 
        <a href="/account">Account</a> | 
        <a href="/logout">Log Out</a>
      </p>
    </div>
    <div id="content">
      {{{body}}}
    </div>
    <script type="text/javascript" src="data.js"></script>
    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
