  <main role="main" id="main">
    <header id="header">
      <span>title VS title</span>
      <div><a id="swap-collection" href="#">Swap Collection</a></div>
    </header>
    <div id="matchup-sections" class="matchup-sections">
      <section id="team-section-a" class="section section-team">
        <div id="team-list-a"></div>
      </section>
      <section id="scores-section" class="section section-scores">
        <div id="score-totals"></div>
        <div id="week"></div>
        <div id="scores">
          <div id="scores-a" class="score-col"></div>
          <div id="stat-categories" class="score-col"></div>
          <div id="scores-b" class="score-col"></div>
        </div>
      </section>
      <section id="team-section-b" class="section section-team">
        <div id="team-list-b"></div>
      </section>    
    </div>
    <footer id="footer">
    </footer>
    <aside id="actions">
    </aside>
    <section id="login-form" class="login-form"></section>
  </main>